# Node.js (server)
server/node_modules/
server/.env
server/uploads/

# Python (server)
python server/__pycache__/
python server/venv/
python server/static/
# Generated Grad-CAM images
python server/static/grad_cam_output_*.png

python server/_pycache_/
python server/env/
python server/testing images/
python server/trained_models/



# OS / Editor junk files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Python cache / temp
*.pyc
*.pyo
*.pyd
__pycache__/
