# Node.js (server)
server/node_modules/
server/.env
server/uploads/

# Python (server)
python server/__pycache__/
python server/env/
python server/static/
python server/model/__pycache__/
python server/model/env/
python server/model/static/
# Generated Grad-CAM images
python server/static/grad_cam_output_*.png


# OS / Editor junk files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Python cache / temp
*.pyc
*.pyo
*.pyd
__pycache__/
